{% extends "base.html" %}

{% block titulo %}Registro{% endblock %}

{% block contenido %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="mb-4">Crear cuenta</h2>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success w-100">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}